.idea
hugging_cache
data
.vscode
logs

__pycache__/
*.pyc
*.pyo
*.swp
*~
.DS_Store
.env
*/__pycache__/
*ims
*/*ims*/
*.out
*.pt
*pkl
*/*results*/
*results
*output
*factual_results

*.json
*.png
*.log
KnowledgeCircuits/.ipynb_checkpoints/
GSM8K_data_generation.py
*.csv