better_abc==0.0.3
bitsandbytes==0.46.0
click==8.1.7
cmapy==0.6.6
dataclasses_json==0.6.7
datasets==3.6.0
einops==0.8.1
huggingface_hub==0.33.0
ipython==8.12.3
ipython==8.23.0
jaxtyping==0.3.2
matplotlib==3.8.4
networkx==3.3
numpy==1.24.3
packaging==25.0
pandas==2.3.0
plotly==5.21.0
protobuf==6.31.1
pygraphviz==1.14
pytest==8.1.1
PyYAML==6.0.1
PyYAML==6.0.2
rich==14.0.0
torch==2.7.1
torchtyping==0.1.4
tqdm==4.67.1
tqdm==4.61.2
transformers==4.52.4
typeguard==4.4.4
typing_extensions==4.14.0
wandb==0.16.6
